.success-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; 
}

.success-header {
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.success-tag {
  display: inline-block;
  background-color: #ff6b91;
  color: #fff;
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tag2 {
  font-family: Poppins;
}

.success-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
  color: #0f0f38;
  font-family: Poppins;
}

.success-title .highlight {
  background-color: #ffe400;
  padding: 0 5px;
  color: #00448f;
}

.success-subtitle {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  font-family: Poppins;
  font-weight: 500;
}


/* SLIDER WRAPPER */
.projects-slider {
  overflow: hidden;
  width: 100%;
}

/* TRACK */
.projects-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: slideLeft 30s linear infinite;
  will-change: transform;
}

.project-card {
  flex: 0 0 280px;
  border: 3px solid #00bfc1;
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  background: #fff;
  padding-bottom: 10px;
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: 10px;
  color: #0f0f38;
}

.project-info p {
  font-size: 11px;
  color: #555;
  font-family: Poppins;
  margin-bottom: -5px;
}

.project-extra {
  margin-top: 15px;
  font-size: 7px;
  font-weight: 400;
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-extra span {
  padding: 2px 6px;
  border-radius: 4px;
  color: #fff;
}

/*STABLE INFINITE ANIMATION */
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * (280px + 30px) * 4));
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .all-works-btn {
    display: none;
  }

  .project-card {
    flex: 0 0 260px;
  }

  .projects-track {
    animation-duration: 40s;
  }
}
