.whatsapp-float{
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 9999;
}

.whatsapp-float img{
  height: 70px;
  cursor: pointer;
  transition: transform 0.2s ease;
  animation: whatsappFloat 2.5s ease-in-out infinite;
}

.whatsapp-float img:hover{
  transform: scale(1.08);
}

/* floating animation */
@keyframes whatsappFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}